<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>

<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <head>
       <link rel="stylesheet" href="css/style.css" />
    </head>
    
        <header>
        <nav style="background: #195b7c" >  
            <label style="color: white; padding-top: 15px; margin-left: 30px">UTM Course Management System</label>
            
            <ul class="navs">
                <li><a href="index.html">Logout</a></li>
            </ul>
            <ul class="navs">
              <li><a href="student_profile.html" >Profile</a></li>
            </ul>
            <ul class="navs">
              <li><a href="student_search_courses.html">Search Courses</a></li>
            </ul>
            <ul class="navs">
              <li><a href="student_my_courses.html" class="active">My Courses</a></li>
            </ul>
            <ul class="navs">
                <li><a href="student_home.html">Home</a></li>
            </ul>
        </nav>
	
    </header>

<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <table class="table table-striped" style="margin-top: 50px">
          <thead>
            <tr>
              <th scope="col" colspan="2">Course Name</th>
              <th scope="col">Credit</th>
              <th scope="col">Course ID</th>
              <th scope="col">Class room</th>
              <th scope="col">Lecturer</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td colspan="2">Programming Fundamental</td>
              <td>3</td>
              <td>SEC24</td>
              <td>mpk1</td>
              <td>Ahmed Khaled</td>
              <td>
                  <button id="btn-signup" type="button" class="btn btn-info"><i class="icon-hand-right"></i> &nbsp View</button>
              </td>   
     
            </tr>
            <tr>
              <td  colspan="2">Basic Electronics</td>
              <td>4</td>
              <td>SECJ324</td>
              <td>mpk 2</td>
              <td>Ahmed Fariz</td>
              <td>
                  <button id="btn-signup" type="button" class="btn btn-info"><i class="icon-hand-right"></i> &nbsp View</button>
              </td>   
            </tr>
            <tr>
              <td colspan="2">Calculus</td>
              <td>4</td>
              <td>SECU324</td>
              <td>mpk 1</td>
              <td>Ruhadiah Ahmad</td>
              <td>
                  <button id="btn-signup" type="button" class="btn btn-info"><i class="icon-hand-right"></i> &nbsp View</button>
              </td>     
            </tr>
          </tbody>
        </table>    
    </body>
</html>